{% extends "base.html" %}

{% block content %}
	<p>You are now logged out of this Service Provider.</p>
	{% if idp_logout_url %}
		<p>You are still logged into your Identity Provider.</p>
		<p>You should logout of your Identity Provider <a href="{{ idp_logout_url }}">here</a></p>
		
		{% if autosubmit %}
			<script language="javascript">
			<!--
			/* Automatically submit the form. */
			document.location.href = '{{ idp_logout_url }}';
			//-->
			</script>
		{% endif %}
	{% endif %}
{% endblock %}
